#stars-viewport {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 75vw;
    height: 60vh;
    pointer-events: none;
}

#stars-canvas {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}